$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



a {
  color: #fff;
}

body {
  background-image: url('http://i.imgur.com/NAktdV9.jpg');
}

.content {
  padding-top: 100px;
}

footer {
  align-content: center;
  background:#000;
  bottom:0px;
  position:fixed;
  left:0px;
  height:auto;
  width:100%;
}

.generator-btn {
  align-content: center;
  border-style: outset;
  background-blend-mode: darken;
}

h1 {
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

.modal {
  color: #000;
}

p {
  color: #fff;
}

table {
  color: #fff;
}
